@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

html,
body,
#root,
.app,
.content,
main {
  height: max-content;
  overflow: auto;
  padding: 0 !important;
  width: 100%;
}

.app {
  display: flex;
  flex-direction: row;
  overflow: auto;
  position: relative;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #e0e0e0;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

a {
  text-decoration: none;
}

aside { height: 100%; }

.MuiGrid-root {
  width: unset !important;
}

.error-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  padding: 2rem;
}

@media (max-width: 932px) {
  .app {
    display: grid;
    grid-template-columns: 1fr;
    height: 100vh;
    position: relative;
  }

  .MuiBox-root:has(aside) {
    position: absolute;
    height: 100%;
    z-index: 1;
  }

  main {
    position: absolute;
  }

  .MuiCardContent-root.Mui-Chart {
    overflow-y: hidden;
    overflow-x: scroll;
    width: 100%;
  }
  
  .MuiCardContent-root.Mui-Chart div {
    width: 1000px !important;
  }
}

@media (min-width: 1200px) {
  .MuiGrid-root {
    min-width: 20%;
  }
}